<?xml version="1.0"?>
<config>
    <modules>
        <Ak_Intime>
            <version>0.2.4</version>
        </Ak_Intime>
    </modules>
    <global>
        <models>
            <intime>
                <class>Ak_Intime_Model</class>
                <resourceModel>intime_resource</resourceModel>
            </intime>
            <intime_resource>
                <class>Ak_Intime_Model_Resource</class>
                <entities>
                    <city>
                        <table>intime_city</table>
                    </city>
                    <warehouse>
                        <table>intime_warehouse</table>
                    </warehouse>
                    <intime_quote_address>
                        <table>intime_quote_address</table>
                    </intime_quote_address>
                    <intime_order_address>
                        <table>intime_order_address</table>
                    </intime_order_address>
                </entities>
            </intime_resource>
        </models>
        <blocks>
            <intime>
                <class>Ak_Intime_Block</class>
            </intime>
        </blocks>
        <helpers>
            <intime>
                <class>Ak_Intime_Helper</class>
            </intime>
        </helpers>
        <resources>
            <intime_setup>
                <setup>
                    <module>Ak_Intime</module>
                </setup>
            </intime_setup>
        </resources>
        <events>
            <sales_quote_address_collection_load_after>
                <observers>
                    <intime_load_addres_collection_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>loadQuoteAddressCollectionData</method>
                    </intime_load_addres_collection_data>
                </observers>
            </sales_quote_address_collection_load_after>
            <sales_quote_address_save_after>
                <observers>
                    <intime_save_addres_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>saveQuoteAddressData</method>
                    </intime_save_addres_data>
                </observers>
            </sales_quote_address_save_after>
            <sales_quote_address_load_after>
                <observers>
                    <intime_load_addres_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>loadQuoteAddressData</method>
                    </intime_load_addres_data>
                </observers>
            </sales_quote_address_load_after>
            <sales_order_address_collection_load_after>
                <observers>
                    <intime_load_addres_collection_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>loadOrderAddressCollectionData</method>
                    </intime_load_addres_collection_data>
                </observers>
            </sales_order_address_collection_load_after>
            <sales_order_address_save_after>
                <observers>
                    <intime_save_addres_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>saveOrderAddressData</method>
                    </intime_save_addres_data>
                </observers>
            </sales_order_address_save_after>
            <sales_order_address_load_after>
                <observers>
                    <intime_load_addres_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>loadOrderAddressData</method>
                    </intime_load_addres_data>
                </observers>
            </sales_order_address_load_after>
            <sales_order_save_after>
                <observers>
                    <intime_save_order_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>saveOrderData</method>
                    </intime_save_order_data>
                </observers>
            </sales_order_save_after>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <intime_load_addres_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>saveShippingMethodBefore</method>
                    </intime_load_addres_data>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
            <controller_action_predispatch_ecommerceteam_easycheckout_index_saveShippingMethod>
                <observers>
                    <intime_load_addres_data>
                        <type>singleton</type>
                        <class>intime/observer</class>
                        <method>saveShippingMethodBefore</method>
                    </intime_load_addres_data>
                </observers>
            </controller_action_predispatch_ecommerceteam_easycheckout_index_saveShippingMethod>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <intime_warehouse_id>
                    <to_order_address>*</to_order_address>
                </intime_warehouse_id>
                <intime_warehouse_label>
                    <to_order_address>*</to_order_address>
                </intime_warehouse_label>
                <intime_intime_street>
                    <to_order_address>*</to_order_address>
                </intime_intime_street>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ak_Intime_Adminhtml before="Mage_Adminhtml">Ak_Intime_Adminhtml</Ak_Intime_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <intime_import_city_and_warehouse>
                <schedule>
                    <cron_expr>1 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ak_intime/import::run</model>
                </run>
            </intime_import_city_and_warehouse>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <intime>
                <use>standard</use>
                <args>
                    <module>Ak_Intime</module>
                    <frontName>intime</frontName>
                </args>
            </intime>
        </routers>
        <secure_url>
            <intime_checkout>/intime/checkout</intime_checkout>
        </secure_url>
        <layout>
            <updates>
                <intime>
                    <file>intime.xml</file>
                </intime>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <intime>
                <!-- disabled by default not to propose unconfigured shipping method to customer -->
                <active>0</active>
                <!-- allow only for specific countries flag -->
                <sallowspecific>1</sallowspecific>
                <!-- allow only for Ukraine -->
                <specificcountry>UA</specificcountry>
                <!-- carrier model -->
                <model>intime/carrier_intime</model>
                <!-- carrier title -->
                <title>Новая Почта</title>
                <!-- error message -->
                <specificerrmsg>Этот способ доставки на текущий момент не доступен. Если вы желаете, чтобы мы доставили заказ Новой Почтой, обратитесь к менеджеру интернет-магазина.</specificerrmsg>
                <api_url>http://orders.intime.ua/xml.php</api_url>
                <enable_log>0</enable_log>
                <shipping_offset>1</shipping_offset>
            </intime>
        </carriers>
    </default>
</config>
